<!doctype html>
<title>Simple ML for Australian Legal Salaries</title>
<h1>Simple ML for Australian Legal Salaries</h1>
<p>A simple supervised regression-based machine learning model to predict Australian lawyer salaries based on PQE years, law firm tier, and location.</p>
<p>PQE data gathered from various 2019 recruitment resources.</p>
<form method="POST">
    Location <i>(syd, melb, bris, per)</i>: <input type="text" name="loc">
    <br>
    Post-Qualified Experience (PQE) <i>(years)</i>: <input type="text" name="pqe">
    <br>
    Tier <i>(top, mid, small)</i>: <input type="text" name="tier">
    <br>
    <input type="submit" name="submit">
</form>